header, footer {
    background-color: green;
    padding: 10px 20 px;;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

p{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}

main {
    flex: 1;
}

footer {
    margin-top: auto;
}

thead tr {
    padding-right: 10px;
}